%html
  %head
    %title Code for America NOLAbot logs
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "styles.css"}
    %script{:type => "text/javascript", :src => "http://use.typekit.com/wwh6hdi.js" }
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    .container
      =yield
